{% extends 'new-base.html' %}

{% block title %}Voting Completed Successfully{% endblock %}


{% block content %}

    <div class="alert-box-1" data-aos="zoom-in-up" data-aos-delay="200" data-aos-duration="2000">
        <h1 class="alert-box-1-main-text">You have finished voting</h1>
        <p class="alert-box-1-other-text">You can visit the results page to see the results of the election</p>

        <div class="flex justify-center mt-5">
            <a href="{% url 'vote_app:results' %}" class="alert-box-1-btn">Election Results</a>
        </div>
    </div>

{% endblock content %}