{% extends 'new-base.html' %}
{% load static %}

{% block title %}Homepage of ASAElections{% endblock %}


{% block content %}

    <!-- container for the content -->
    <div class="my-16 md:my-20 px-10 md:px-10 lg:px-16">

        <!-- container for the header section -->
        <div class="flex justify-around">

            <!-- The header text and call to action -->
            <div class="" data-aos="zoom-in" data-aos-duration="1200">
                <h1 class="text-5xl md:text-8xl font-extrabold font-serif text-center text-gray-800">Accounting Students Association</h1>
                <h3 class="font-bold text-center text-4xl md:text-5xl py-10 text-gray-700 font-raleway">Online Voting Platform</h3>
                <div class="mt-5 text-center space-x-2 md:space-x-3 lg:space-x-4">
                    <a href="{% url 'vote_app:vote-categories' %}" class="px-8 md:px-12 lg:px-16 py-3 bg-blue-700 border-2 border-blue-600 font-bold hover:bg-blue-700">Vote</a>
                    <a href="{% url 'vote_app:results' %}" class="px-8 md:px-12 lg:px-16 py-3 border-2 border-gray-800 hover:bg-red-600 font-bold transition delay-75 duration-100">Results</a>
                </div>
            </div>

        </div>

        <!-- Votes Cast So Far -->
        <div class="mt-10 md:mt-16 lg:mt-20">
            <h1 
                class="pt-24 pb-5 text-center font-bold text-gray-500 text-3xl md:text-4xl border-b-4 border-gray-200 shadow-xl md:mb-5"
                data-aos="fade-in-down" data-aos-duration="1000"
            >Votes Casted So Far</h1>
            
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5 font-raleway">

                {% for category in categories %}
                    <div class="text-center my-5 md:my-10 bg-gray-50 shadow-2xl p-8" data-aos="fade-in-down" data-aos-duration="1000">
                        <h2 class="text-gray-900 font-bold text-4xl">{{ category.name }}</h2>
                        <h3 class="text-purple-600 font-bold font-lato text-xl py-3">{{ category.get_campus_display }}</h3>
                        <p class="font-serif text-7xl py-2 text-gray-700 font-semibold">{{ category.voters.count }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>

    </div>

{% endblock content %}